.contentContainer {
  @apply py-4;
}

.contentContainer:not(:last-child) {
  @apply border-b border-yellow-600 border-opacity-20;
}

.contentHeader {
  @apply flex flex-col-reverse space-y-reverse space-y-2 sm:flex-row justify-between my-4;
}

.contentHeader h2 {
  @apply leading-tight;
}

.contentHeader h2 small {
  @apply block;
}

.contentContainer h3,
.contentContainer h4 {
  @apply mt-2;
}

.aboutContent p + p,
.projectContent p + p,
.projectContent ul,
.projectContent li,
.jobContent p + p,
.jobContent ul,
.jobContent li {
  @apply my-2;
}

.projectContent li::before,
.jobContent li::before {
  @apply text-new-york-pink mr-1 inline;
  content: '•';
}

.projectContent a,
.jobContent a {
  @apply border-b-2 border-new-york-pink border-dotted hover:border-solid hover:text-new-york-pink;
}

.contentHeader a.externalLink:hover {
  @apply border-b-2 border-dotted border-yellow-600;
}

.contentHeader a.externalLink::after {
  @apply font-sans text-xxs font-bold align-text-top ml-1 text-yellow-600 opacity-30;
  content: '↗';
}

.contentHeader a.externalLink:hover::after {
  @apply opacity-100;
}

.tags {
  @apply flex flex-wrap mt-6;
}

.tags > li {
  @apply text-sm font-lekton text-zinc-600;
}

.tags > li:not(:last-child)::after {
  content: '·';
}

.contentHeaderNav {
  @apply -ml-2;
}

a.iconLink {
  @apply p-2 leading-none;
}

a.iconLink svg {
  @apply inline-block;
}

a.iconLink:hover svg {
  @apply fill-new-york-pink;
}
