@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: IBM Plex Mono;
    font-weight: 400;
    src: url(/fonts/IBMPlexMono-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: IBM Plex Mono;
    font-weight: 600;
    src: url(/fonts/IBMPlexMono-SemiBold.woff2) format('woff2');
  }
  html {
    @apply text-foreground bg-background h-full selection:bg-background-light antialiased;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  body {
    @apply md:flex md:justify-center md:items-center tall:h-full;
  }
  p {
    @apply my-4;
  }
  .layout {
    @apply grid border-4 border-background-light gap-1 w-full mx-auto max-w-lg bg-background-light shadow-lg md:my-4 md:max-w-7xl md:max-h-[90vh] md:grid-cols-5 md:grid-rows-layout;
    grid-template-areas:
        "video"
        "aside"
        "about"
        "main"
  }
  .video {
    grid-area: video;
  }

  .about {
    grid-area: about;
  }

  .aside {
    grid-area: aside;
  }

  .main {
    grid-area: main;
  }

  @media (min-width: 768px) {
    .layout {
      grid-template-areas:
        "video video about about about"
        "aside aside main main main"
    }
  }
}

