.container {
  @apply mx-auto flex flex-col bg-white;
  width: var(--container-width);
}

@screen lg {
  .container {
    @apply my-8 shadow-xl bg-opacity-70 flex-row xl:rounded-3xl;
    max-height: calc(100vh - 4rem);
  }
}

.header {
  @apply p-8 lg:py-0;
  width: var(--hd-width);
}

.headerContainer {

}

.main {
  @apply flex-1 p-8 lg:overflow-y-auto lg:my-8 lg:mr-1;
  scrollbar-color: transparent transparent;
}

.main:hover {
  scrollbar-color: #E2BA363D transparent;
}

.main::-webkit-scrollbar {
  @apply w-2;
}

.main::-webkit-scrollbar-thumb{
  @apply transition-colors bg-transparent;
}

.main:hover::-webkit-scrollbar-thumb {
  @apply rounded-full w-1;
  background: #E2BA363D;
}


